<h2 id="desc" class="list">Clairsienne Model: Description <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>
<span class="markdown">
The CLR ontology is illustrated by the following schema.
</span>
<img style="width:100%;" src="https://gitlab.com/clairsienne/clr-models/raw/master/clr-models.png" />
